# * for all
group_search = "*"

# After too long a session can expire.
# So we just trigger a re-atuh, every reauth_every account imports.
reauth_every = 150

# We batch our group membership queries.
# How many members maximum should be in each request?
group_chunks = 30

# Which groups should we ignore when creating and mapping?
ignore_groups = ["cla_fpca", "cla_done", "cla_fedora"]

# Record and replay requests to FAS (for testing)
replay = false


[fas]
url = "https://admin.fedoraproject.org/accounts"
# username = 
# password = 

[ipa]
instances = ["ipa.fas2ipa.test"]
cert_path = "/etc/ipa/ca.crt"
username = "admin"
password = "adminPassw0rd!"
