
# We batch our queries (groups, users, memberships, etc).
# How many objects maximum should be in each request?
chunks = 30

# Record and replay requests to FAS (for testing)
replay = false

# How many retries before failing a request
retries = 2

[users]
skip_spam = true

[groups]
# * for all
search = "*"
# Prefix the group names on import
prefix = ""

[fas.fedora]
url = "https://admin.fedoraproject.org/accounts"
email_domain = "fedoraproject.org"
# username = ""
# password = ""

[fas.fedora.groups]
# Which groups should we ignore when creating and mapping?
ignore = ["cla_fpca", "cla_done", "cla_fedora"]

[[fas.fedora.agreement]]
name = "Fedora Project Contributor Agreement"
group_prerequisite = "cla_done"
signed_groups = ["cla_fpca", "cla_done"]
description_file = "FPCA.txt"

[fas.centos]
url = "https://accounts.centos.org"
email_domain = "centos.org"
# username = ""
# password = ""

[fas.centos.groups]
# Prefix the group names on import
prefix = "centos-"

[ipa]
instances = ["ipa.fas2ipa.test"]
cert_path = "/etc/ipa/ca.crt"
username = "admin"
password = "adminPassw0rd!"
# After too long a session can expire.
# So we just trigger a re-atuh, every reauth_every imports.
reauth_every = 300
